.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.containerTicketDetails{
  margin: 20px;
}

.containerTicketDetails strong {
  font-size: 20px;
  line-height: 26px;
}

.containerTicketDetails p {
  font-size: 16px;
  color: black;
  margin-top: 15px;
  margin-bottom: 5px;
}

.containerTicketDetails a {
  text-decoration: none;
}

.fitImage{
  width: 100%;
  height: 100%;
  object-fit: cover
}

.detailCol{
  color: black;
}

.headingBuy {
  font-size: 16px;
  line-height: 20px;
  color: blue;
  margin-top: 15px;
  padding: 0px;
}

.buyBtns{
  width: 45%;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}
